<%= simple_form_for(:quick_mail, url: quick_create_path) do |f| %>


  <div class="row">
    <div class="col-md-3 form-group mb-3">
        <label for="name">Sender Email</label>
        <%= f.input :sender_email_id, collection: @sender_email, label_method: :first, value_method: :last, selected: @sender_email_id, label: false, input_html: { class: "form-control form-control-rounded", placeholder: "Enter Name" } %>

        <label for="name">Recipient Group</label>
        <%= f.input :email_group_id, collection: @email_groups, label_method: :first, value_method: :last, selected: @email_group_id, label: false, input_html: { class: "form-control form-control-rounded", placeholder: "Enter Description" } %>

        <label for="name">Subject</label>
        <%= f.input :subject, label: false, input_html: { class: "form-control form-control-rounded", placeholder: "Enter Description", value: @subject } %>

        <br/>

        <h4>Note:: Please use **@name for names and **@email for emails in either the Subject or the mail body</h4>
    </div>



    <div class="col-md-8 form-group mb-3">
        <label for="name">Body</label>
        <%= f.text_area :body, :class => "html-editor-cm", :value => @body %>

    </div>


    <%= f.input :company_id, as: :hidden, input_html: { value: current_user.client_id } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  

    <div class="col-md-12">
      <%= f.button :submit, "Send", class: "btn btn-primary" %>
      <%= link_to 'Cancel', root_path, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

