
            <!-- ============ Body content start ============= -->
            <div class="main-content">
                <div class="breadcrumb">
                    <h1>Email Group Information</h1>
                    <ul>
                      <li>Email Group Details</li>
                    </ul>
                </div>
                <div class="separator-breadcrumb border-top"></div>
                <!-- end of row-->
                <div class="row mb-4">
                    <div class="col-md-12 mb-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Group Details for <%= @mail_group.name %></h4>
                                
                                <%= link_to 'Edit', edit_mail_group_path(@mail_group), class: "btn btn-primary btn-sm ripple m-1" %>
                                <%= link_to 'Back', mail_groups_path, class: "btn btn-danger btn-sm ripple m-1" %>
                                
                                <div class="table-responsive">
                                    <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @emails.each do |email| %>
                                                <tr>
                                                  <td> <%= email.name %> </td>
                                                  <td> <%= email.email %> </td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of row-->
                <!-- end of main-content -->
            </div>